// Fonts and Icons
@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto:400,900&display=swap');

// Variables
$font-title: "Roboto", sans-serif, Arial, Helvetica;
$font-subtitle: "Merriweather", sans-serif, Arial, Helvetica;
$text-color: #262627;
$font-size: 13px;
$b-ux: #FF4F81; $b-frontend: #8E44E7; $b-sem: #E74444; $b-manager: #FFC168; $b-bi: #1BC7D0; 
$b-social: #04AEFF; $b-finance: #B84692; $b-backend: #2CDE97; $b-customer: #3369E7; $b-seo: #FF6C5E; 
$b-content: #0060B4; $b-qa: #8687E9; $b-sysadmin: #F99F61; $b-hr: #85D0E9;

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-title;
  font-size: $font-size;
  color: $text-color;
}

.menu {
  position: fixed;

  &__button {
    width: 65px;
    height: 65px;
    background-color: black;
    color: white;
    border: none;
    outline: none;
    display: flex;
    justify-content: center;
  }

}

.tags {

  &::before, 
  &::after {
    content: '';
    height:250px;
    display: block;
  }

  padding: 30px 20px 10px;

  &__title {
    font-weight: 900;
    font-size: 3em;
    padding: 0 0 20px;
    line-height: 40px;
    letter-spacing: 1px;
  }

  &__text {
    font-family: $font-subtitle;
    font-size: 2em;
    line-height: 1.33em;
  }

  &__wrapper {
    padding: 20px 0 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    align-items: center;
    width: 100%;
    padding-right: 28px;
    text-decoration: none;

    .tags__item--icon {
      width: 70px;
      height: 70px;
      margin-left: -.2em;
      margin-right: .5em;
      color: white;
      transition: margin 0.2s ease;
    }

    [class*='text'] {
      font-size: 1.38em;
      font-weight: 900;
      padding-left: 15px;
      transition: color 0.2s ease, margin 0.2s ease;
    }

    &:hover {
      .tags__item--icon {
        margin-left: -.5em;
        margin-right: .5em;
      }

      [class*='text'] {
        color: black;
        margin-left: -.5em;
      }
    }

    .fas {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (min-width: 768px) {

  .tags {
    width: 750px;
    margin: 0 auto;

    &__title {
      font-size: 5em;
      padding: 0 0 40px;
    }

    &__wrapper {
      padding: 30px 0 0;
    }

    &__list:nth-child(2n) {
      margin-left: -24px;
    }

    &__item {
      width: auto;

      .tags__item--icon {
        width: 80px;
        height: 80px;
      }

      [class*='text'] {
        font-size: 1.5em;
      }
    }
  }
}

@media (min-width: 992px) { 
  .tags {
    width: 970px;
    
    &__wrapper {
      padding: 30px 0 0 45px;
    }
  }
}

@media (min-width: 1200px) { 
  .tags {
    width: 1170px;

    &__item {

      padding-right: 60px;
  
      .tags__item--icon {
        margin-right: .8em;
      }

      [class*='text'] {
        padding-left: 38px;
      }
    }
  }
}



// We set the color of the icons and text here.

.tags__item--text--ux {color: $b-ux;}
.tags__item--text--frontend {color: $b-frontend;}
.tags__item--text--sem {color: $b-sem;}
.tags__item--text--manager {color: $b-manager;}
.tags__item--text--bi {color: $b-bi;}
.tags__item--text--social {color: $b-social;}
.tags__item--text--finance {color: $b-finance;}
.tags__item--text--backend {color: $b-backend;}
.tags__item--text--customer {color: $b-customer;}
.tags__item--text--seo {color: $b-seo;}
.tags__item--text--content {color: $b-content;}
.tags__item--text--qa {color: $b-qa;}
.tags__item--text--sysadmin {color: $b-sysadmin;}
.tags__item--text--hr {color: $b-hr;}

.tags__item--ux {background-color: $b-ux;}
.tags__item--frontend {background-color: $b-frontend;}
.tags__item--sem {background-color: $b-sem;}
.tags__item--manager {background-color: $b-manager;}
.tags__item--bi {background-color: $b-bi;}
.tags__item--social {background-color: $b-social;}
.tags__item--finance {background-color: $b-finance;}
.tags__item--backend {background-color: $b-backend;}
.tags__item--customer {background-color: $b-customer;}
.tags__item--seo {background-color: $b-seo;}
.tags__item--content {background-color: $b-content;}
.tags__item--qa {background-color: $b-qa;}
.tags__item--sysadmin {background-color: $b-sysadmin;}
.tags__item--hr {background-color: $b-hr;}